Drawing tool

<button {{action "increment"}}>Increment</button>

<button {{action "toggle" target="view"}}>Toggle</button>

{{view.fullName}}

{{input type="text" value=view.firstName}}
{{input type="text" value=view.lastName}}
{{images}}